.page {
    text-align: center;
}

.userPhoto {
    width: 230px;
    height: 230px;
    margin-top: 75px;
}

.userFullname {
    font-size: 40px;
    font-weight: bold;
}

.userPhone {
    font-size: 75px;
    font-weight: bold;
}
.userOriginState {
    font-size: 40px;
    font-weight: bold;
}