form {
    display: inline-block;
}

.inputFieldHolder {
    margin-top: 20px;
    text-align: left;

    label {
        display: block;
        font-size: 18px;
    }

    input {
        display: block;
        height: 40px;
        width: 400px;
        outline: none;

        &.ng-invalid.ng-touched {
            border-color: red;
        }
        
        &.ng-valid {
            border-color: navy;
        }
    }

    button {
        height: 40px;
        width: 400px;
        font-size: 20px;
        font-weight: bold;
    }
}

.errorMessage {
    font-size: 18px;
    color: red;
    padding: 10px;
}